@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer utilities {
  .btn {
    @apply transition-all font-bold bg-pink-600 hover:bg-pink-500 rounded-md px-6 text-white whitespace-nowrap;
  }

  .icon {
    @apply w-6 h-6 rounded;
  }

  .img {
    @apply w-full object-cover cursor-pointer h-full;
  }

  .mw-sidebar {
    width: 370px;
  }
}

.thumbnail-gradient::after {
  pointer-events: none;
  content: '';
  position: absolute;
  z-index: 3;
  left: 75%;
  height: 100%;
  top: 0;
  width: 26%;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.013) 8.1%,
    hsla(0, 0%, 100%, 0.049) 15.5%,
    hsla(0, 0%, 100%, 0.104) 22.5%,
    hsla(0, 0%, 100%, 0.175) 29%,
    hsla(0, 0%, 100%, 0.259) 35.3%,
    hsla(0, 0%, 100%, 0.352) 41.2%,
    hsla(0, 0%, 100%, 0.45) 47.1%,
    hsla(0, 0%, 100%, 0.55) 52.9%,
    hsla(0, 0%, 100%, 0.648) 58.8%,
    hsla(0, 0%, 100%, 0.741) 64.7%,
    hsla(0, 0%, 100%, 0.825) 71%,
    hsla(0, 0%, 100%, 0.896) 77.5%,
    hsla(0, 0%, 100%, 0.951) 84.5%,
    hsla(0, 0%, 100%, 0.987) 91.9%,
    #fff
  );
}

.thumbnail-gradient::before {
  pointer-events: none;
  content: '';
  background: linear-gradient(130deg, #ff7a18, #db2777 41.07%, #319197 76.05%);
  position: absolute;
  mix-blend-mode: screen;
  opacity: 0.75;
  width: 120%;
  min-height: 500px;
  height: 100%;
  z-index: 2;
}
.thumbnail-gradient-before::before {
  pointer-events: none;
  content: '';
  width: 100%;
  opacity: 0.2;
  min-height: 500px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  content: '';
  background: linear-gradient(130deg, #ff7a18, #db2777 41.07%, #319197 76.05%);
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
}
